@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body {
    background: #fdfdfd;
    font-family: 'Merriweather', serif;
    color: #222;
    margin: 2rem;
    line-height: 1.75;
}

main {
    max-width: 700px;
    margin: auto;
    text-align: justify;
    hyphens: auto;

    column-count: 3;
    column-gap: 2rem;
}

h1 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    border: solid black;
    margin-left: 24rem;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin: 0.5rem 0 0.25rem;
}

h4  {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

p {
    margin: 0 0 1rem;
    line-height: 1.65;
    font-size: 1rem;
}

header p {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-align: center;
}