@charset "UTF-8";
/* CSS for Assignment 1: Interface Design using CSS */
/* Author: Adam Evans */
/* Fonts sourced from Google Fonts: Cinzel and Lato */
/* Background image sourced from Pixabay */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* -----Base Styles----- */

/* Box-sizing normalization */
*,
*::before,
*::after {
    box-sizing: border-box
}

/* Base typography */
html {
    font-size: 16px;
}

body {
    font-family: 'Lato', 'Segoe UI', sans-serif;
    line-height: 1.6;
    padding: 4rem 2rem 2rem 2rem;
    /* dark blue background colour */
    background-color: #0D2230;
    color: #E6E6E6;
    /* Layered gradient used to tint the background image so it works with the sites dark blue palette */
    background: linear-gradient( rgba(13, 34, 48, 0.85), rgba(13, 34, 48, 0.9) ), url("../img/lifestream-swirl.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;

}

/* -----Typography and Headings----- */

h1, h2, h3 {
    font-family: 'Cinzel', serif;
    text-align: center;
    
    

}

h1 {
    /* Subtle cyan glow */
    text-shadow: 0 0 8px #5ED7F266;
}

h2 {
    /* sparsely used gold accent */
    color: #E8B85C;

}

h1, h3 {
    /* cyan for other headers */
    color: #5ED7F2;
}

main > section h3 {
    border-bottom: 3px solid #5ED7F2;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

/* -----Layout, Three-column Flexbox--- */

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 3rem;
    row-gap: 3rem;
    flex-wrap: nowrap;
    margin: 0 auto;
}

/* -----Lyrics Column----- */

article {
    order: 2;
    flex: 2;
    border-style: solid;
    border-width: 0 3px;
    border-color: #5ED7F2;
    padding-left: 1.5rem;
    text-align: center;
    /* box shadow to create an inner cyan glow matching the lifestream from the album art. inset used to keep the glow inwards instead of invading other elements. inset information found here:
   https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
    box-shadow: inset 10px 0 20px #5ED7F2, inset -10px 0 20px #5ED7F2;
    padding: 1.5rem;
}

/* -----Side column Styling----- */

main > section:first-of-type {
    order: 1;
    flex: 1;
    /* gradient usage sourced from https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
    background: linear-gradient(to top,
    rgba(94, 215, 242, 0.15),
    rgba(94, 215, 242, 0)
    );
    padding: 1.5rem;
    border-radius: 4px;
}

main > section:last-of-type {
    order: 3;
    flex: 1;
    /* upward gradient to reduce empty space feeling, similar to lifestream colour being stronger in the bottom of the album art */
    background: linear-gradient(to top,
    rgba(94, 215, 242, 0.15),
    rgba(94, 215, 242, 0)
    );
    padding: 1.5rem;
    border-radius: 4px;
}

/* spacing to keep side columns from looking too small and cramped compared to lyrics */

main > section p {
    line-height: 1.9;
    margin-bottom: 1.5rem;
}

section {
    margin-bottom: 2rem;
}

/* -----Footer styling----- */

footer {
    border-top: 1px solid #5ED7F2;
    padding-top: 1rem;
    margin-top: 3rem;
}

footer p {
    font-size: 0.8rem;
    opacity: 0.7;
}